* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* body{
  background: linear-gradient(to bottom, #B721FF, #2AF598, #fec051, #FEE140, #FA709A );
  background-size: 100%;
  background-repeat: no-repeat;
} */
body {
  background: url(/assets/gif/tuyet.gif) repeat scroll top left
}

/* main + header */
.main {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  background-color: #fff;
}
.navbar{
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
}
.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  width: 1360px;

}
.scroll-back{
  background-color: #96d6ff;

}
.scroll-down {
  transform: translateY(-100%);
  transition: all 0.3s ease;
}

.scroll-up {
  transform: translateY(0);
  transition: all 0.3s ease;
  
  /* background-color: none; */
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_menu {
  text-decoration: none;
  font-size: 22px;
  padding: 0 10px;
  color: #000;
  font-weight: 700;
}

.info {
  position: absolute;
  width: 300px;
  height: 120px;
  background-color: rgb(136, 132, 132);
  top: 60px;
  right: 40px;
  border: 1px solid none;
  border-radius: 5px;
  box-shadow: 0 0 4 0 rgb(136, 132, 132);
  display: none;
}

.info::before {
  content: "";
  width: 60px;
  right: 10px;
  height: 50px;
  position: absolute;
  top: -50px;
}

.info>.user,
.logout,
.user__info {
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.user::before {
  content: "";
  position: absolute;
  right: 16px;
  top: -30px;
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent rgb(136, 132, 132) transparent;
}

.user::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logout::after {
  content: "";
  width: 100%;
  background-color: #000;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.user__info::before {
  content: "";
  width: 100%;
  background-color: #000;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.user:hover,
.logout:hover,
.user__info {
  cursor: pointer;
}

.info p {
  padding-left: 15px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.logo__title {
  font-size: 20px;
  font-weight: bold;
}

.logo__title::before {
  content: "";
  width: 200px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
}

.logo__title:hover {
  cursor: pointer;
}

.logo>img {
  height: 50px;
  padding-right: 20px;
}

#back__icon {
  position: absolute;
  top: 18px;
  right: 157px;
  display: none;
}

#back__icon:hover {
  cursor: pointer;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool>span {
  font-size: 25px;
  padding: 5px 10px;
}

.tool>.search__icon:hover,
.cart__icon:hover,
.user__control:hover {
  cursor: pointer;
}

.user__control {
  margin: 5px 10px;
}

.user__control--show:hover .info {
  display: block;
}

.search {
  position: absolute;
  right: 145px;
  top: 13px;
  border-radius: 15px;
  border: none;
  width: 190px;
  height: 35px;
  padding: 10px;
  display: block;
  margin-right: 5px;
  border: 1px solid #d5c6c6;
  outline: none;
}

/* slider */
.slider {
  position: relative;
  margin: 0 0 20px 0;
}

.mySlide>img {
  width: 100%;
  height: 736px;
  object-fit: cover;
  border-radius: 10px;
}

.mySlide {
  position: relative;
}

.dot {
  display: flex;
  width: 200px;
  height: 5px;
  justify-content: space-around;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.dot__slide {
  border: 1px solid #000;
  border-width: 5px;
  border-radius: 5px;
}

.dots {
  border-color: #fff;
}

/* content */
.container{
  max-width: 1360px;
  margin: 0 auto;
}
.content {
  font-size: 14px;
  margin-top: 10px;
  position: relative;
  padding: 10px 0 0 0 ;
}

.content__header {
  font-size: 24px;
  color: #b22d29;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}
.content__header::before{
  content: "";
  background-color: #96d6ff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
}
.tab__header {
  width: 230px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 14px;


}

.item_que {
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.5s ease;
  padding: 0 0 10px 0;

}

.item__tab {
  opacity: 0.5;
}

.item__tab:hover {
  cursor: pointer;
  color: #b92f52;
}

.item_active {
  opacity: 1;
}


.dash {
  background-color: rgb(207, 73, 73);
  width: 100px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease;

}

/* hometab */
.home__tab {
  display: none;
  flex-flow: row wrap;
  /* justify-content: space-between; */


}

.home__tab_active {
  display: flex;
}

.item {
  width: 320px;
  height: 520px;
  margin: 10px;
  visibility: hidden;
}
.item:hover{
  cursor: pointer;
  border: 1px solid #ff2459;
  border-radius: 15px;
}
.item_slideRight {
  visibility: visible;
  animation: slideRight;
  animation-duration: 1s;
}

.item img {
  width: 100%;
  height: 420px;
  border: 1px solid #fff;
  border-radius: 15px;
}

.item__pic {
  position: relative;
}

.item__pic>img {
  width: 320px;
  height: 420px;
  object-fit: fill;
}

.item__size {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 20px;
  left: 0;
}

.item__sub {
  font-weight: bold;
  font-size: 15px;
  margin: auto;
  padding-top: 10px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: none;
  animation: itemShow ease 0.5s;
}

.item__sub:hover {
  cursor: pointer;
  background-color: rgb(180, 171, 171);
  color: #000;
}

.item__shirt1 {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.item__pic:hover .item__sub {
  display: block;
}

.item__pic:hover .item__shirt1 {
  display: block;
}

.item__sale {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff2459;
  color: #fff;
  width: 40px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
}

.item__title {
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}

.item__price {
  font-weight: bold;
  padding: 10px;
}

.item__price>span {
  color: #ff2459;
}

.item__price>del {
  opacity: 0.4;
}

.item__title:hover {
  cursor: pointer;
}

/* outfit */
.outfit {
  position: relative;
  margin-bottom: 60px;

}

.outfit>a {
  text-align: center;
  border-radius: 30px;
  width: 120px;
  text-decoration: none;
  color: #fff;
  background-color: #96d6ff;
  padding: 10px 20px;
  position: absolute;
  bottom: -50px;
  left: calc((1350px - 120px)/2);

}

.outfit_parent {
  border-radius: 40px;
  margin: 5px 0;
}

.outfit_title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #b22d29;
  padding: 10px;
}

.outfit_title::before {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #96d6ff;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
}

.outfit_content {
  display: flex;
  justify-content: space-between;
  background-color: #96d6ff;
  border-radius: 40px;
  color: #000;
  border-bottom: 1px dashed #fff;
  margin-bottom: 20px;
  visibility: hidden;
}

.outfit_slideShow {
  visibility: visible;
  animation: slideShowOutfit;
  animation-duration: 2s;

}

.outfit_content_reverse {
  flex-direction: row-reverse;
}

.outfit_content .description {
  text-decoration: none;
  padding: 40px 60px;
}

.description>span {
  font-size: 24px;
  font-weight: 700;
}

.description>ul {
  padding: 10px 40px;
  font-size: 18px;
  line-height: 1.5;
  list-style: disc;
}

.description a {
  text-decoration: none;
}

.outfit_content>a {
  width: 480px;
  height: 600px;
}

.outfit_content img {
  width: 480px;
  height: 600px;
  object-fit: fill;
  border: 1px solid #fff;
  border-radius: 40px;
}

.content__info {
  width: 100%;
  height: 555px;
  background-color: #96d6ff;
  border-radius: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.about__pic {
  width: 650px;
  position: absolute;
  right: 0;
  top: 0;
}

.about__pic>img {
  width: 100%;
  height: 555px;
  border-radius: 40px;
}

.about__card--heading {
  font-size: 48px;
  width: 650px;
  font-weight: bold;
  margin-top: 50px;
  padding: 100px 30px 30px 30px;
}

.about__card>p {
  font-size: 18px;
  padding: 5px 30px;
}

.about__card .about__me {
  width: 150px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  margin: 30px;
  border: none;
  font-weight: bold;
}

.about__card .about__me:hover {
  background-color: #d9d9d9;
  border: 2px solid #d9d9d9;
  cursor: pointer;
}

/* footer */
.about__site {
  background-color: #000;
  width: 100%;
  height: 500px;
  color: #fff;
  justify-content: space-around;
  margin-top: 20px;
  display: flex;
  position: relative;
}

.site__heading {
  width: 330px;
  height: 100%;
  padding: 40px 20px;
}

.site__heading>h4 {
  font-size: 25px;
  padding-bottom: 20px;
}

.site__heading>p {
  opacity: 0.8;
  justify-content: center;
  padding-bottom: 20px;
}

.send__feedback {
  width: 120px;
  height: 40px;
  border-radius: 15px;
  background-color: #b22d29;
  color: #fff;
  border: none;
  margin-bottom: 30px;
}

.send__feedback:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

.footer__info {
  display: flex;
  justify-content: flex-start;
  margin: 15px 0;
}

.footer__info--title {
  padding: 0 15px;
}

.footer__info>span {
  padding-top: 8px;
}

.footer__contact {
  display: flex;
  justify-content: flex-start;
}

.facebook__contact {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding-top: 2px;
  font-size: 25px;
}

.facebook__contact:hover {
  background-color: rgb(194, 190, 190);
  cursor: pointer;
}

.youtube__contact {
  font-size: 30px;
  padding: 0 15px;
}

.youtube__contact:hover {
  cursor: pointer;
}

.site__content {
  width: 250px;
  height: 100%;
  padding: 40px 20px;
}

.site__content>h4 {
  font-size: 25px;
  padding-bottom: 20px;
}

.site__content .footer__address {
  font-size: 16px;
  padding: 30px 0;
  opacity: 0.8;
}

.about__site::before {
  content: "";
  width: 90%;

  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.about__site::after {
  content: "@Copyright by A B C- X Y Z ";
  width: 300px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
}

.footer_site {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

@keyframes itemShow {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes showSearch {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideShowOutfit {
  from {
    opacity: 0;
    transform: translateX(-100%);

  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}